.body .view .Chart {
    height: 100%;
    box-sizing: border-box;
    margin: 0;

    &__panel {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        box-sizing: border-box;
        gap: 1rem;

        .chart{
            height: 0;
            flex-grow: 1;
            padding: 0;
            box-sizing: border-box;
            max-width: 100%;
            object-fit: contain;
            margin: auto;
        }
    }

    &__proceed-button {
        align-self: flex-end;
    }

}