@charset 'utf-8';
@use "css/icomoon.css";

@import url(//fonts.googleapis.com/css?family=Roboto+Condensed:400,700);

button, .Button {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  text-align: center;
  background: none;
  border: none;
  font-family: arial, sans-serif;
  color: rgb(255, 255, 255);
  text-decoration: none;
  cursor: pointer;

  font-size: 20px;
  padding: 8px;
  background-color: cornflowerblue;
}

.fullscreen {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 255, 255);

  .nav-header {
    display: flex;
    flex-direction: row;

    color: white;
    background-color: #446fa0;
    // border-bottom: black 2px solid;
    // box-shadow: 0px 5px 5px black;
    z-index: 1000;
    padding: 0 16px;

    h1 {
      margin: auto;
    }

    button, .Button{
      font-size: 24px;
      background-color: transparent;
      padding: 24px;

      &:hover, &:focus-within {
        background-color: cornflowerblue;
        transition: all 0.5s ease;
      }
    }
  }
  .content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    .banner {
      background-color: #d6dde0;

      img {
        height: 50vh;
      }

      &--collapsed {
        max-width: 0;
        padding-left: 0;
        padding-right: 0;

        img {
          display: none;
        }
      }
    }

    .body {
      display: flex;
      flex-direction: row;
      flex-grow: 1;
      background-color: #223c60;
      padding-top: 32px;

      .container {
        font-size: 20px;
        // margin: 32px;
      }

      .nav-content {
        order: 2;

        .nav-menu-title {
          font-size: 32px;
          color: white;
        }

        &--collapsed {
          max-width: 0;
          padding-left: 0;
          padding-right: 0;
        }
      }

      .nav-menu {
        box-sizing: border-box;
        max-width: 100%;

        font-weight: 300;
        font-size: 24px;
        padding: 0;

        background-color: rgb(197, 202, 233);
        padding-top: 0;
        margin-right: 10vw;
        overflow: hidden;

        .container {
          width: max-content;
          overflow: visible;
          margin: auto;
        }

        ul {
          list-style: none;
          padding: 0;
          margin: 0;

          .controls {
            margin: 4px;
            background-color: white;
            border-color: black;
            border-radius: 4px;
            border-width: 2px;
            border-style: solid;
          }
        }
      }

      .view {
        display: block;
        flex-basis: 0;
        flex-grow: 1;
        width: 0;

        order: 1;

        h2 {
          color: white;
          margin: 0;
        }

        .panel {
          display: flex;
          flex-flow: column nowrap;
          align-items: flex-start;

          color: white;

          // width: 450px;
          max-width: 95%;
          max-height: 95%;
          padding: 0px 40px;
          box-sizing: border-box;
          border-radius: 16px;
          margin-left: 10vw;
        }

        .container {
          // padding: 16px;
          // background-color: rgb(100, 100, 100);
          // border-radius: 16px;
          // border-color: black;
          // border-style: solid;
          // border-width: 2px;

          .content ul {
            padding-left: 20px;

            li {
              margin-bottom: 8px;
            }
          }
        }

        ul {
          padding: 0;
        }
      }
    }
  }
}
